*{
    font-family: 'Kalam';
    color: rgb(225, 225, 225);
    font-size: 20px;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
    margin: 0;
}
h4{
    font-size: 50px;
    margin: 0;
}

#streamWebcam, #streamWebcam_background{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
    -webkit-filter: brightness(0.2); /* 0.4 Default */
    filter: brightness(0.2); /* 0.4 Default */
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    overflow: hidden;
}


 #site_wrapper, #container{
    /* object-fit: contain;
    position:absolute;
    position: relative;
    text-align: center;
    overflow: hidden; 
    top: 0;
    left: 0;
    right: 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}

#webcam_instrument, #streamWebcam_instrument, #canvas1, #canvas2{ /*Old .mirror*/
    display: block;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.drawTable{
    display: block;
    position: absolute;
    top: 0;
    pointer-events: none; /* Prevents canvas from intercepting clicks */
    /*transform: scaleX(-1);*/
}

.color_settings_container{
    background-color: rgba(0, 0, 0, 1);
    border: solid 5px rgb(0, 0, 0);
    border-radius: 1em;
    width: 100%;
    padding: 2% 0 2% 0;
    z-index: 1000;
}

.color_settings_text{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;

    /* background-color: rgba(0, 0, 0, 1);
    border: solid 5px rgb(0, 0, 0);
    border-radius: 1em;
    width: 100%;
    padding: 2% 0 2% 0;
    z-index: 1000; */
}

.color_settings_control_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    width: 100%;

    /* background-color: rgba(0, 0, 0, 1);
    border: solid 5px rgb(0, 0, 0);
    border-radius: 1em;
    width: 100%;
    padding: 2% 0 2% 0;
    z-index: 1000; */
}

.color_settings_container_item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 1% 2% 1% 2%;
    max-width: 40%;
}

#tracker_1_color, #tracker_2_color{
    background-color: red;
    width: 100%;
    height: 100px;
    border: 5px solid gray;
    /* margin-left: 3%; */
  }

#drawTableDiv{
    position: relative;
    width: 100%;
}

#buttoninstrumentSettingsMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* width: 10%; */
}

#instrumentSettingsMenu{
    width: 30%;
    object-fit: contain;
    position:absolute;
    top: 50px;;
    left: 0;
    right: 0;
    padding-bottom: 2em;
    margin: auto;
    text-align: center;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
}

#handtrackSettings1, #handtrackSettings2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.settingsContainer1{
    margin-right: 1%;
}
.settingsContainer2{
    margin-left: 1%;
}


#instrumentSoundSelect{
    background-color: black;
}

.defaultButton{
    /* margin-left: 5em; */
    /* position:relative; */
    /* margin-top: 2em; */
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 99;
}
.defaultButton:hover{
    color:yellow;
}

.settingsSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: yellow;
    cursor: pointer;
    border-radius: 100px;
    border: black solid 4px;
}

.settingsSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 100px;
}

.settingsSlider{
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
}

#backToMenu_button
{
    margin-bottom: 3%;
}