/* body{
    margin: 0;
} */

h1{
    font-size: 3em;
}

#mainMenuHeadingHr{
    margin-top: -2em;
}

hr{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 25%;
}

#streamWebcamBackgroundMenu{
    min-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    z-index: -100;
    -webkit-filter: brightness(0.1); /* 0.4 Default */
    filter: brightness(0.1); /* 0.4 Default */
}

 #site_wrapper{
    position:relative;
}

#container{
    text-align: center;
    /* overflow: hidden; */
}

/*Menü Bar*/
ul {
    list-style-type: none;
    padding: 0;
}
  
li a {
    display: block;
    text-decoration: none;
    font-size: 1.9em;
    /* color: rgb(225, 225, 225) */
}
li a:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
  
li {
    text-align: center;
}

#menuBottomContainer{ 
    /* overflow: hidden; */
    position: fixed;
    bottom: 185px;
    left: 0;
    right: 0;
}