/* border typ 1 */

.Slider .Item .ItemInner[data-style="1"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid transparent;
}


/* border typ 2 */

.Slider .Item .ItemInner[data-style="2"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid transparent;
}
.Slider .Item .ItemInner[data-style="2"]:before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  border-radius: 5px 0px 0px 0px;
  border-top: 56px solid  var(--border-color);
  border-left: 56px solid var(--border-color);
  border-right: 56px solid transparent;
  border-bottom: 56px solid transparent;
}
.Slider .Item .ItemInner[data-style="2"]:after {
  z-index: 101;
  font-family: "iconfont";
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  content: attr(data-icon);
  font-size: 50px;
  position: absolute;
  top: 6px;
  left: 6px;
}

/* border typ 3 */

.Slider .Item .ItemInner[data-style="3"] {
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.Slider .Item .ItemInner[data-style="3"]:before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  border-top: 50px solid  var(--border-color);
  border-left: 50px solid var(--border-color);
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.Slider .Item .ItemInner[data-style="3"]:after {
  z-index: 101;
  font-family: "iconfont";
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  content: attr(data-icon);
  font-size: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}



/* border typ 4 */

.Slider .Item .ItemInner[data-style="4"] {
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  animation: border-puls 2s infinite
}



/* border typ 5 */

.Slider .Item .ItemInner[data-style="5"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid var(--border-color);
}

.Slider .Item .ItemInner[data-style="5"]:before {
  z-index: 101;
  font-family: "ubuntu-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-date_month);
  color: var(--white);
  font-size: 25px;
  background: var(--red);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 40px;

  border-top: 4px solid var(--darkgrey);
  border-left: 4px solid var(--darkgrey);
  border-right: 4px solid var(--darkgrey);
  border-bottom: none;
}
.Slider .Item .ItemInner[data-style="5"]:after {
  z-index: 100;
  font-family: "ubuntu-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-date_day);
  color: var(--black);
  font-size: 50px;
  background: var(--white);
  position: absolute;
  top: 60px;
  right: 20px;
  width: 100px;
  height: 60px;

  border-top: none;
  border-left: 4px solid var(--darkgrey);
  border-right: 4px solid var(--darkgrey);
  border-bottom: 4px solid var(--darkgrey);
}


/* border typ 6 */
/*
.Slider .Item .ItemInner[data-style="6"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid var(--border-color);
  animation: border-puls 2s infinite
}

.Slider .Item .ItemInner[data-style="6"]:before {
  z-index: 101;
  font-family: "ubuntu-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-date_month);
  color: var(--white);
  font-size: 14px;
  background: var(--red);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 20px;

  border-top: 2px solid var(--black);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-bottom: none;
}
.Slider .Item .ItemInner[data-style="6"]:after {
  z-index: 100;
  font-family: "ubuntu-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-date_day);
  color: var(--black);
  font-size: 25px;
  background: var(--white);
  position: absolute;
  top: 40px;
  right: 20px;
  width: 50px;
  height: 30px;

  border-top: none;
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
} */
