@import "../fonts/iconfont-v1.0/style.css";


@font-face {
  font-family: "iconfont";
  src: url(../fonts/iconfont-v1.0/fonts/iconfont.ttf);
}
@font-face {
  font-family: "ubuntu-bold";
  src: url(../fonts/ubuntu-bold.ttf);
}
@font-face {
  font-family: "ubuntu-lightitalic";
  src: url(../fonts/ubuntu-lightitalic.ttf);
}
@font-face {
  font-family: "ubuntu-medium";
  src: url(../fonts/ubuntu-medium.ttf);
}
@font-face {
  font-family: "ubuntu-regular";
  src: url(../fonts/ubuntu-regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
  font-family: "ubuntu-regular";

}


:root {
  --white:                       rgba(238, 238, 238, 1);
  --green:                       rgba(20, 193, 89, 1);
  --blue:                        rgba(18, 115, 235, 1);
  --diamondblue:                 rgba(185, 242, 255, 1);
  --yellow:                      rgba(255, 229, 41, 1);
  --orange:                      rgba(255, 133, 27, 1);
  --red:                         rgba(244, 67, 54, 1);
  --purple:                      rgba(177, 13, 201, 1);
  --lightgrey:                   rgba(153, 153, 153, 1);
  --grey:                        rgba(96, 96, 96, 1);
  --darkgrey:                    rgba(51, 51, 51, 1);
  --black:                       rgba(17, 17, 17, 1);

  --navHeight: 30px;

}


::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}









#login{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */

}

#login input[type="text"],
#login input[type="password"]
{
  width: 200px;
  height: auto;
  padding: 5px 5px;
  margin: 10px;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-medium", "iconfont";
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}

#login input[type="submit"]
{
  width: 200px;
  height: auto;
  padding: 5px 5px;
  margin: 10px;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-medium", "iconfont";
  outline: none;
  border: none;
  /* border-bottom: 2px solid var(--white); */
  background: var(--blue);
}





form{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  /* border: 1px solid red; */

}


form input[type="text"],
form input[type="url"],
form input[type="password"],
form input[type="date"],
form input[type="file"],
form select
{
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);
  height: auto;
  padding: 5px 5px;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-regular", "iconfont";
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 5px;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  background: rgba(255, 255, 255, 0.1);
}


form textarea
{
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);
  height: auto;
  padding: 5px 5px;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-regular", "iconfont";
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 5px;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  background: rgba(255, 255, 255, 0.1);
  max-width: 100%;
  max-height: 100%;

}


form input[type="color"]
{
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);
  height: 50px;
  padding: 5px 5px;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-regular", "iconfont";
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 5px;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  background: rgba(255, 255, 255, 0.1);
}


::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


form select option
{
  color: #111;
}

#BgInput{
  display: none;
}

form .ImagePrevBox
{
  margin: 10px;
  width: 300px;
  height: 200px;
  border: 2px dashed #999;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
}
form .ImagePrevBox label
{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-regular", "iconfont";
  line-height: 1.5;
  /* border: 2px solid red; */
}
form .ImagePrevBox img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}


form p
{
  margin: 10px 10px 0px 10px;
  width: calc(100% - 20px);
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-medium", "iconfont";
  /* line-height: 1.5; */
}


form p.info
{
  margin: 10px;
  width: calc(100% - 20px);
  color: #999;
  font-size: 16px;
  font-family: "ubuntu-regular", "iconfont";
  line-height: 1.5;
}


























.Main
{
  position: absolute;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;

  background-position: center;

  /* background-color: #111; */
  /* background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.LogoutLink {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 15px;
  margin: 20px;
  border-left: 4px solid rgba(244, 67, 54, 1);
  background: rgba(244, 67, 54, 0.3);
  border-radius: 5px;
  color: #eee;
  text-decoration: none;
  font-size: 25px;
  font-family: "ubuntu-medium";
  backdrop-filter: blur(10px);
}

.Main .MainItem {
  width: 200px;
  height: 140px;
  padding: 10px;
  margin: 20px;
  border: 4px solid #333;
  background: #1d2125;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: 0.1s all ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Main .MainItem i {
  color: #eee;
  font-size: 30px;
}
.Main .MainItem p {
  color: #eee;
  font-size: 16px;
  font-family: "ubuntu-medium";
  margin-top: 10px;
}

.Main .MainItem[add] {
  border-color: rgba(20, 193, 89, 1);
  background: rgba(20, 193, 89, 0.3);
}
.Main .MainItem[edit] {
  border-color: rgba(18, 115, 235, 1);
  background: rgba(18, 115, 235, 0.3);
}
.Main .MainItem[show] {
  border-color: rgba(255, 229, 41, 1);
  background: rgba(255, 229, 41, 0.3);
}
.Main .MainItem[delete] {
  border-color: rgba(244, 67, 54, 1);
  background: rgba(244, 67, 54, 0.3);
}










ol
{
  width: 80%;
  height: 80%;
  position: absolute;
  overflow-y: auto;
  border: 2px solid #333;
  box-sizing: border-box;
}

ol li
{
  width: 100%;
  height: 30px;
  position: relative;
  overflow-y: auto;
  /* border: 2px solid #333; */
  box-sizing: border-box;
  background: rgba(255,255,255,0.1);0
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ol li:nth-child(2n+0)
{
  background: rgba(255,255,255,0.2)
}


ol a
{
  position: relative;
  width: auto;
  height: 30px;
  color: orange;
  text-decoration: none;
  /* border: 2px solid orange; */
  box-sizing: border-box;
}






































.Modal_Screen_Overlay {

  --modal-color1: rgba(75,75,75,1);
  --modal-color2: rgba(43,43,43,1);
  --modal-color3: rgba(31,31,31,1);



  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  /* background: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(2px); */

  display: flex;
  align-items: center;
  justify-content: center;
}




.Modal {
  width: 700px;
  height: 500px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Modal_Head"
    "Modal_Content";
  border: 2px solid var(--modal-color1);
}


.Modal_Head {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Modal_Head_Titel Modal_Head_Button";
  grid-area: Modal_Head;
  background: var(--modal-color1);
}
.Modal_Head_Titel {
  grid-area: Modal_Head_Titel;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 13px;
}
.Modal_Head_Titel p {
  color: var(--white);
  font-family: "ubuntu-bold";
  font-size: 14px;
}
.Modal_Head_Button {
  grid-area: Modal_Head_Button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal_Head_Button a {
  text-decoration: none;
}
.Modal_Head_Button i {
  color: var(--red);
  font-size: 20px;
}







.Modal_Content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Modal_Content_Menu ModalContentBody";
  grid-area: Modal_Content;
  background: var(--modal-color2);
}
.Modal_Content_Menu {
  width: 200px;
  position: relative;
  grid-area: Modal_Content_Menu;
  background: var(--modal-color3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 0px;
  box-sizing: border-box;
}
.Modal_Content_Menu hr {
  width: calc(100% - 25px);
  height: 2px;
  background: #333;
  outline: none;
  border: none;
  margin: 10px 0px;

}

.ModalContentBody {

  height: 456px;

  grid-area: ModalContentBody;
  position: absolute;

  display: block;
  flex-direction: column;
  /* scroll-behavior: smooth; */



  overflow: hidden;

  box-sizing: border-box;
}

.ModalContentBodyItem {
  position: relative;
  width: 100%;
  height: 456px;
  /* background: black; */
  /* border: 1px solid red; */
  display: block;

  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 0px;

}






group input[type=radio] {
  opacity: 0;
  width: 100%;
  height: 42px;
  background-color: blue;
  position: relative;
  z-index: 1;
}

group {
  margin: 10px;
  position: absolute;
  width: calc(100% - 20px);
  display: flex;
  box-sizing: border-box;
}

group .input-container {
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  position: relative;
}
group .input-container:first-child label {
  border-radius: 5px 0 0 5px;
}
group .input-container:last-child label {
  border-radius: 0 5px 5px 0;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

group label {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right: inherit;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ubuntu-regular", "iconfont";
  color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

group input:checked + label {
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
  z-index: 2;
  color: #eee;
}






.ContentTypeBox {

  height: 100%;

  position: relative;

  display: block;
  flex-direction: column;
  /* scroll-behavior: smooth; */


  overflow: hidden;

  box-sizing: border-box;

  /* border: 1px solid red; */
}
.ContentTypeBoxItem {
  position: relative;

  padding-top: 50px;
  width: 100%;
  height: 100%;
  /* background: black; */
  /* border: 1px solid red; */
  display: block;

  flex-direction: column;
  box-sizing: border-box;


}











/* The container */
.container {

  width: 100%;
  height: 30px;

  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-family: "ubuntu-medium";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: 0.1s all ease-in-out;
}

.checkmark p {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: "ubuntu-bold";
  margin-left: 14px;
  white-space:nowrap;
  transition: 0.1s all ease-in-out;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgba(255, 255, 255, 0.5);
}

.container:hover input ~ .checkmark p {
  color: rgba(255, 255, 255, 1);
}




/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(33, 150, 244);
}
.container input:checked ~ .checkmark p {
  color: rgba(255, 255, 255, 1);
}
