* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
  font-family: "ubuntu-regular";
}


:root {
  --white:                       rgba(238, 238, 238, 1);
  --green:                       rgba(20, 193, 89, 1);
  --blue:                        rgba(18, 115, 235, 1);
  --diamondblue:                 rgba(185, 242, 255, 1);
  --yellow:                      rgba(255, 229, 41, 1);
  --orange:                      rgba(255, 133, 27, 1);
  --red:                         rgba(244, 67, 54, 1);
  --purple:                      rgba(177, 13, 201, 1);
  --lightgrey:                   rgba(153, 153, 153, 1);
  --grey:                        rgba(96, 96, 96, 1);
  --darkgrey:                    rgba(51, 51, 51, 1);
  --black:                       rgba(17, 17, 17, 1);

  --navHeight: 30px;

}


::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}





.Main {
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--navHeight) 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Navigation" "Section-1" "Section-2" "Section-3" "Section-4";
}

.Navigation {
  grid-area: Navigation;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Section-1 {
  grid-area: Section-1;
  /* border: 1px solid red; */
}

.Section-2 {
  grid-area: Section-2;
  /* border: 1px solid red; */
}

.Section-3 {
  grid-area: Section-3;
  /* border: 1px solid red; */
}

.Section-4 {
  grid-area: Section-4;
  /* border: 1px solid red; */
}




.Slider {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  gap: 20px 20px;
}

.Slider .Item {
  position: relative;
  width: 300px;
  height: calc(25vh - var(--navHeight) / 4);
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 10px;
}


.Slider .Item .ItemInner {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* border typ 1 */

.Slider .Item .ItemInner[data-border="1"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid transparent;
}

/* border typ 2 */

.Slider .Item .ItemInner[data-border="2"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 6px solid transparent;
}
.Slider .Item .ItemInner[data-border="2"]:before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  border-radius: 5px 0px 0px 0px;
  border-top: 30px solid  var(--border-color);
  border-left: 30px solid var(--border-color);
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.Slider .Item .ItemInner[data-border="2"]:after {
  z-index: 101;
  font-family: "iconfont";
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  content: "\edce";
  font-size: 25px;
  position: absolute;
  top: 6px;
  left: 6px;
}

/* border typ 3 */

.Slider .Item .ItemInner[data-border="3"] {
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  animation: border-pulsate 2s infinite
}

.Slider .Item .ItemInner[data-border="3"] i {
  animation: border-pulsate 2s infinite
}

@keyframes border-pulsate {
    0%   { color: var(--white) }
    50%  { color: var(--red) }
    100% { color: var(--white) }
}


.Slider .Item .ItemInner[data-border="3"]:before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  border-top: 24px solid  var(--border-color);
  border-left: 24px solid var(--border-color);
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
}
.Slider .Item .ItemInner[data-border="3"]:after {
  z-index: 101;
  font-family: "iconfont";
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  content: "\edce";
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
}













.Slider .Item .ItemInner .ItemInnerBox {
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(2px);
  padding: 20px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "IconBox TextBox";
}

.Slider .Item .ItemInner[data-border="2"] .ItemInnerBox,
.Slider .Item .ItemInner[data-border="3"] .ItemInnerBox {
  gap: 0px 0px;
}

.Slider .Item .ItemInner[data-border="2"] .IconBox,
.Slider .Item .ItemInner[data-border="3"] .IconBox {
  display: none;
}

.IconBox {
  grid-area: IconBox;
  border-right: 2px solid var(--lightgrey);
}
.IconBox i {
  font-size: 30px;
  margin-right: 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.TextBox {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Titel"
    "Text";
  grid-area: TextBox;
}

.Titel {
  grid-area: Titel;
}
.Titel p {
  font-family: "ubuntu-bold";
  font-size: 22px;
  color: #eee;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Text {
  grid-area: Text;
}
.Text p {
  font-family: "ubuntu-medium";
  font-size: 16px;
  color: #eee;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
