* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
  font-family: "ubuntu-regular";
}


:root {
  --white:                       rgba(238, 238, 238, 1);
  --green:                       rgba(20, 193, 89, 1);
  --blue:                        rgba(18, 115, 235, 1);
  --diamondblue:                 rgba(185, 242, 255, 1);
  --yellow:                      rgba(255, 229, 41, 1);
  --orange:                      rgba(255, 133, 27, 1);
  --red:                         rgba(244, 67, 54, 1);
  --purple:                      rgba(177, 13, 201, 1);
  --lightgrey:                   rgba(153, 153, 153, 1);
  --grey:                        rgba(96, 96, 96, 1);
  --darkgrey:                    rgba(51, 51, 51, 1);
  --black:                       rgba(17, 17, 17, 1);

  --navHeight: 30px;

}


::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}





.Main {
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--navHeight) 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Navigation" "Section-1" "Section-2" "Section-3" "Section-4";
}

.Navigation {
  grid-area: Navigation;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* border-bottom: 2px solid red;
  border-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,59,32,1) 70%) 1; */
}

.Section-1 {
  grid-area: Section-1;
  /* border: 1px solid red; */
}

.Section-2 {
  grid-area: Section-2;
  /* border: 1px solid red; */
}

.Section-3 {
  grid-area: Section-3;
  /* border: 1px solid red; */
}

.Section-4 {
  grid-area: Section-4;
  /* border: 1px solid red; */
}




.Slider {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  gap: 20px 20px;
}

.Slider .Item {
  position: relative;
  width: 300px;
  height: calc(25vh - var(--navHeight) / 4);
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 10px;
}





.Slider .Item .ItemDisable {


  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.Slider .Item .ItemScale {

  position: absolute;
  /* bottom: 300px */
  transform: scale(0.5);
  transition: 0.2s all ease-in-out;
}





.Slider .Item .ItemInner {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  background-image: url('resources/img/test.svg');
}



@keyframes border-puls {
    0%   { border-color: var(--white) }
    50%  { border-color: var(--border-color) }
    100% { border-color: var(--white) }
}






.Slider .Item .ItemInner .ItemInnerBox {
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  /* backdrop-filter: blur(2px); */
  padding: 20px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "IconBox TextBox";
}

.Slider .Item .ItemInner[data-style="2"] .ItemInnerBox,
.Slider .Item .ItemInner[data-style="3"] .ItemInnerBox {
  gap: 0px 0px;
}

.Slider .Item .ItemInner[data-style="2"] .IconBox,
.Slider .Item .ItemInner[data-style="3"] .IconBox {
  display: none;
}

.IconBox {
  grid-area: IconBox;
  border-right: 2px solid var(--lightgrey);
}




.IconBox:after {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: "iconfont";
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  content: attr(data-icon);
  font-size: 30px;
  color: var(--white);
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
}


.TextBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Titel"
    "Text";
  grid-area: TextBox;
}

.Slider[data-size="1"] .TextBox {
  max-width: 60%;
}

.Titel {
  grid-area: Titel;
}
.Titel p {
  font-family: "ubuntu-bold";
  font-size: 22px;
  color: #eee;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Text {
  grid-area: Text;
}
.Text p {
  font-family: "ubuntu-medium";
  font-size: 16px;
  color: #eee;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


















.Overlay {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 2px solid red; */
  background: var(--black);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--navHeight) 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "OverlayNav"
    "OverlayContent";

  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.Overlay_AKTIV {
  opacity: 1;
  visibility: visible;
}

.OverlayNav {
  grid-area: OverlayNav;
  /* border: 2px solid red; */
  padding: 5px;
}
.OverlayNav i {
  font-size: 20px;
}

.OverlayContent {
  grid-area: OverlayContent;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "ubuntu-bold";
  font-size: 16px;
}
