
@import "root.css";
@import "../fonts/iconfont-v1.0/style.css";



@font-face {
  font-family: "ubuntu-bold";
  src: url(../fonts/ubuntu-bold.ttf);
}
@font-face {
  font-family: "ubuntu-lightitalic";
  src: url(../fonts/ubuntu-lightitalic.ttf);
}
@font-face {
  font-family: "ubuntu-medium";
  src: url(../fonts/ubuntu-medium.ttf);
}
@font-face {
  font-family: "ubuntu-regular";
  src: url(../fonts/ubuntu-regular.ttf);
}
