/* MAIN-CSS */
@import "root.css";
@import "slick.css";
@import "../fonts/iconfont-v1.0/style.css";
@import "info.css";




div.Slider{
  width: 100%;
  height: calc(100% / 4);
  /* padding: 20px; */
  /* border: 1px solid red; */
  position: relative;
  box-sizing: border-box;

}

div.Slider .Item{
  width: 100%;
  padding: 10px;
  /* height: 100%; */
  /* border: 1px solid blue; */
  position: relative;
  box-sizing: border-box;
}

div.Slider .Item .ItemInner{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border-radius: 10px; */
  border: 2px solid #333;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.Slider .Item .ItemInner{
  color: #eee;
  font-size: 20px;
  padding: 10px;
}




div.Slider .Item .ItemInner[data-type="img"] img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
div.Slider .Item .ItemInner[data-type="img"] .ImgOverlay{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
