*{margin: 0; padding: 0;}

body{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}


@font-face {
  font-family: "Comfortaa";
  src: url(../../resources/fonts/comfortaa.ttf);
}


@font-face {
  font-family: "ubuntu-bold";
  src: url(../../resources/fonts/ubuntu-bold.ttf);
}
@font-face {
  font-family: "ubuntu-lightitalic";
  src: url(../../resources/fonts/ubuntu-lightitalic.ttf);
}
@font-face {
  font-family: "ubuntu-medium";
  src: url(../../resources/fonts/ubuntu-medium.ttf);
}
@font-face {
  font-family: "ubuntu-regular";
  src: url(../../resources/fonts/ubuntu-regular.ttf);
}


.Main{
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  overflow: hidden;
}

.Main iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  box-sizing: border-box;
  outline: none;
}
